!!!
%html{data: {'ng-app': null}}
  %head
    %base{href: '/'}
    %title Professional Cynic
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, user-scalable=no'}
    %meta{name:'HandheldFriendly', content: 'True'}
    %script{type: 'text/javascript'}
       window.NG = {} // our app's namespace

    %link{rel: 'stylesheet', type: 'text/css', href: 'stylesheets/application.css'}

    - for filePath in global.sourceFiles
      - do (filePath) ->
        != "<script src='#{filePath}' type='text/javascript'></script>"

  %body
    .container
      Name:
      %br
      %input{type: 'text', 'data-ng-model': 'name'}

      %br
      %br
      Yo dawg, your name is: {{name}}

    .container{data: {'ng-init': 'names=["Jenie", "Dave", "Peter", "Laura"]'}}
      %h3 Looping with the ng-repeat directive
      %ul
        %li{data: {'ng-repeat': 'personName in names'}}
          {{ personName }}
